#RUMORBOY___ {
  /* RESET */
  /* HTML5 display-role reset for older browsers */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  top: 0;
  right: 10px;
  background: #EEEEEE;
  z-index: 9999999;
  width: 20%;
  color: white; }
  #RUMORBOY___ html, #RUMORBOY___ body, #RUMORBOY___ div, #RUMORBOY___ span, #RUMORBOY___ applet, #RUMORBOY___ object, #RUMORBOY___ iframe,
  #RUMORBOY___ h1, #RUMORBOY___ h2, #RUMORBOY___ h3, #RUMORBOY___ h4, #RUMORBOY___ h5, #RUMORBOY___ h6, #RUMORBOY___ p, #RUMORBOY___ blockquote, #RUMORBOY___ pre,
  #RUMORBOY___ a, #RUMORBOY___ abbr, #RUMORBOY___ acronym, #RUMORBOY___ address, #RUMORBOY___ big, #RUMORBOY___ cite, #RUMORBOY___ code,
  #RUMORBOY___ del, #RUMORBOY___ dfn, #RUMORBOY___ em, #RUMORBOY___ img, #RUMORBOY___ ins, #RUMORBOY___ kbd, #RUMORBOY___ q, #RUMORBOY___ s, #RUMORBOY___ samp,
  #RUMORBOY___ small, #RUMORBOY___ strike, #RUMORBOY___ strong, #RUMORBOY___ sub, #RUMORBOY___ sup, #RUMORBOY___ tt, #RUMORBOY___ var,
  #RUMORBOY___ b, #RUMORBOY___ u, #RUMORBOY___ i, #RUMORBOY___ center,
  #RUMORBOY___ dl, #RUMORBOY___ dt, #RUMORBOY___ dd, #RUMORBOY___ ol, #RUMORBOY___ ul, #RUMORBOY___ li,
  #RUMORBOY___ fieldset, #RUMORBOY___ form, #RUMORBOY___ label, #RUMORBOY___ legend,
  #RUMORBOY___ table, #RUMORBOY___ caption, #RUMORBOY___ tbody, #RUMORBOY___ tfoot, #RUMORBOY___ thead, #RUMORBOY___ tr, #RUMORBOY___ th, #RUMORBOY___ td,
  #RUMORBOY___ article, #RUMORBOY___ aside, #RUMORBOY___ canvas, #RUMORBOY___ details, #RUMORBOY___ embed,
  #RUMORBOY___ figure, #RUMORBOY___ figcaption, #RUMORBOY___ footer, #RUMORBOY___ header, #RUMORBOY___ hgroup,
  #RUMORBOY___ menu, #RUMORBOY___ nav, #RUMORBOY___ output, #RUMORBOY___ ruby, #RUMORBOY___ section, #RUMORBOY___ summary,
  #RUMORBOY___ time, #RUMORBOY___ mark, #RUMORBOY___ audio, #RUMORBOY___ video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  #RUMORBOY___ article, #RUMORBOY___ aside, #RUMORBOY___ details, #RUMORBOY___ figcaption, #RUMORBOY___ figure,
  #RUMORBOY___ footer, #RUMORBOY___ header, #RUMORBOY___ hgroup, #RUMORBOY___ menu, #RUMORBOY___ nav, #RUMORBOY___ section {
    display: block;
    float: none; }
  #RUMORBOY___ body {
    line-height: 1; }
  #RUMORBOY___ ol, #RUMORBOY___ ul {
    list-style: none; }
  #RUMORBOY___ blockquote, #RUMORBOY___ q {
    quotes: none; }
  #RUMORBOY___ blockquote:before, #RUMORBOY___ blockquote:after,
  #RUMORBOY___ q:before, #RUMORBOY___ q:after {
    content: '';
    content: none; }
  #RUMORBOY___ table {
    border-collapse: collapse;
    border-spacing: 0; }
  #RUMORBOY___ .hidden {
    display: none; }
  #RUMORBOY___ .heading.closed {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  #RUMORBOY___ .heading {
    padding: 5px 30px 14px 30px;
    background-color: #00AFE8; }
    #RUMORBOY___ .heading h1 {
      width: auto;
      height: auto;
      text-align: left;
      display: block;
      font-size: 130%;
      font-weight: bold;
      margin: 0; }
      #RUMORBOY___ .heading h1 em {
        font-style: italic; }
    #RUMORBOY___ .heading span {
      display: inline; }
    #RUMORBOY___ .heading .connections h2 {
      width: auto;
      height: auto;
      text-align: left;
      display: block;
      font-size: 100%; }
  #RUMORBOY___ .chat {
    color: black; }
    #RUMORBOY___ .chat .messages {
      max-height: 400px;
      overflow: auto; }
      #RUMORBOY___ .chat .messages .message {
        clear: none; }
    #RUMORBOY___ .chat h2 {
      width: auto;
      height: auto;
      text-align: center;
      display: block;
      font-size: 120%;
      font-weight: bold;
      margin: 15px 0; }
    #RUMORBOY___ .chat .avatar {
      float: left;
      margin: 0 10px 0 0; }
    #RUMORBOY___ .chat li.item, #RUMORBOY___ .chat form {
      text-align: initial;
      clear: both; }
    #RUMORBOY___ .chat li.item {
      padding: 0 10px; }
      #RUMORBOY___ .chat li.item .user {
        padding: 8px 0 0 0;
        font-size: 110%; }
      #RUMORBOY___ .chat li.item .time {
        line-height: 17px;
        font-size: 80%;
        font-weight: bold; }
    #RUMORBOY___ .chat form {
      padding: 10px 20px 10px 20px;
      margin: 8px 0; }
      #RUMORBOY___ .chat form input {
        box-sizing: border-box; }
        #RUMORBOY___ .chat form input:first-child {
          width: 75%;
          line-height: 24px;
          padding: 5px 10px 5px 10px; }
        #RUMORBOY___ .chat form input:last-child {
          line-height: 36px;
          width: 25%;
          background-color: #6CAE28;
          border: none;
          color: white;
          font-weight: bold; }
      #RUMORBOY___ .chat form input:focus {
        outline: 0 none !important; }

/*# sourceMappingURL=style.css.map */
